body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #1f1f1f;
    color: #ffffff;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.status-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

#homepage, #sensors {
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
    opacity: 0;
}

.sensor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sensor-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sensor-details p {
    margin: 0;
}

/* Popup modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #1f1f1f;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.nav-link.active {
    background-color: #343a40;
    color: #ffffff;
}

#theme-toggle {
    background-color: #ffffff;
    color: #212529;
    border: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}