/* loading.css */
/* code #2 */
.loading02 {
    span {
      animation: loading02 1.2s infinite alternate;
      @for $i from 1 through 6 {
        &:nth-child(#{$i+1}) {
          animation-delay: #{$i*.2}s;
        }
      }
    }
  }
  @keyframes loading02 {
    0% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      filter: blur(5px);
      opacity: .2;
    }
  }
